.listen-customer {
  min-height: 37.5rem;
  background: #fff;
  position: relative;
}
.listen-customer .listen-customer__bg {
  position: absolute;
  inset: 0;
  overflow: hidden;
}
.listen-customer .listen-customer__bg img {
  width: 58.70419rem;
  height: 36.69013rem;
  object-fit: cover;
}
.listen-customer .listen-customer-inner {
  position: absolute;
  inset: 0;
}
.listen-customer .listen-customer-inner__bg,
.listen-customer .listen-customer-inner__bg-bottom {
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  right: 0;
}
.listen-customer .listen-customer-inner__bg img,
.listen-customer .listen-customer-inner__bg-bottom img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.listen-customer .listen-customer__search-icon {
  position: absolute;
  right: 1.63rem;
  bottom: 6.64rem;
  display: inline-flex;
  padding: 2.20669rem 1.88869rem 1.82163rem 0.75163rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.listen-customer .listen-customer__search-icon img {
  width: 15.37219rem;
  height: 15.09919rem;
  object-fit: cover;
}
.listen-customer .listen-customer__content {
  /* 	position: absolute;
	z-index: 5;
	left: 3.08rem;
	top: 9.785rem;
	width: 47.25rem; */
  position: absolute;
  z-index: 5;
  left: 3.08rem;
  top: 19.76rem;
  width: 47.25rem;
}
.listen-customer .listen-customer__title {
  /* 	color: var(--Primary-70, #0725b7);
	font-size: 2.875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 4rem;
	margin-bottom: 5.97rem; */
  position: absolute;
  left: 3.08rem;
  bottom: 23.71rem;
  width: 41.61306rem;
  color: var(--Primary-70, #0725b7);
  font-size: 2.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem;
}
.listen-customer .listen-customer__desc-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0.88rem;
  column-gap: 2.75rem;
  margin-bottom: 2.375rem;
}
.listen-customer .listen-customer__desc-item {
  display: flex;
  align-items: center;
}
.listen-customer
  .listen-customer__desc-item
  .listen-customer__desc-item__arrow {
  width: 0.67456rem;
  height: 0.991rem;
  object-fit: cover;
  margin-right: 0.69rem;
}
.listen-customer
  .listen-customer__desc-item
  .listen-customer__desc-item__content {
  flex: 1;
  color: var(--Text-White, #fff);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 139%; /* 1.56375rem */
}

.listen-customer .listen-customer__slide-wrapper {
  position: absolute;
  z-index: 10;
  width: 37.375rem;
  height: 39.375rem;
  bottom: 0rem;
  right: 7.46rem;
}
.listen-customer .listen-customer__slide-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.listen-customer .listen-customer__contact-link {
  display: inline-flex;
  text-decoration: none;
}
.listen-customer .listen-customer__title br,
.listen-customer .listen-customer-inner__bg-mb,
.listen-customer .listen-customer-inner__bg-bottom-mb {
  display: none;
}

.listen-customer .star_icon-first {
  position: absolute;
  z-index: 20;
  top: 3.75rem;
  right: 11.79rem;
  width: 2.46169rem;
  height: 3.12581rem;
  object-fit: cover;
}
.listen-customer .star_icon-second {
  right: 10.26rem;
  position: absolute;
  z-index: 20;
  top: 5.75rem;
  width: 1.85188rem;
  height: 2.13775rem;
  object-fit: cover;
}

.listen-customer .listen-customer__badge {
  position: absolute;
  z-index: 30;
  overflow: hidden;
}
.listen-customer .listen-customer__badge.listen-customer__badge--primary {
  top: 17rem;
  left: 1.9375rem;
}
.listen-customer .listen-customer__badge.listen-customer__badge--secondary {
  top: 20.25rem;
  left: 3.8725rem;
}
.listen-customer .swiper-slide {
  background: transparent !important;
}

.listen-customer .listen-customer__title * {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}
@media (max-width: 639.98px) {
  .listen-customer {
    min-height: 40.875rem;
  }
  .listen-customer .listen-customer__content {
    width: 100%;
    padding: 0rem 0.9375rem;
    position: absolute;
    top: 6rem;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .listen-customer .listen-customer__title {
    font-size: 1.625rem;
    line-height: 139%;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0rem 0.9375rem;
    width: 100%;
    bottom: auto;
    top: 0;
  }

  .listen-customer .listen-customer-inner__bg,
  .listen-customer .listen-customer__search-icon,
  .listen-customer .listen-customer__contact-link,
  .listen-customer .listen-customer-inner__bg-bottom {
    display: none;
  }
  .listen-customer .listen-customer-inner__bg-mb {
    position: absolute;
    left: 0;
    right: 0;
    top: 5rem;
  }
  .listen-customer .listen-customer-inner__bg-bottom-mb {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .listen-customer .listen-customer-inner__bg-mb img,
  .listen-customer .listen-customer-inner__bg-bottom-mb img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .listen-customer .listen-customer__desc-list {
    grid-template-columns: repeat(1, 1fr);
    width: 16.6875rem;
    row-gap: 0.44rem;
  }
  .listen-customer .listen-customer__desc-item__arrow {
    margin-right: 0.6875rem;
    width: 0.67456rem;
    height: 0.991rem;
  }
  .listen-customer
    .listen-customer__desc-item
    .listen-customer__desc-item__content {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.3125rem */
  }
  .listen-customer .listen-customer__slide-wrapper {
    right: 0;
    bottom: 0;
    width: 21.97913rem;
    height: 23.15525rem;
  }
  .listen-customer .listen-customer__title br,
  .listen-customer .listen-customer-inner__bg-mb,
  .listen-customer .listen-customer-inner__bg-bottom-mb {
    display: block;
  }
  .listen-customer .listen-customer__badge.listen-customer__badge--primary {
    top: 10.275rem;
    left: 1.13875rem;
  }
  .listen-customer .listen-customer__badge.listen-customer__badge--secondary {
    top: 12.5rem;
    left: 2rem;
  }

  .listen-customer .star_icon-first {
    top: 1.25rem;
    right: 6.92875rem;
    width: 1.44763rem;
    height: 1.83819rem;
  }
  .listen-customer .star_icon-second {
    top: 2.82rem;
    right: 6.02875rem;
    width: 1.08906rem;
    height: 1.25713rem;
  }
  .listen-customer .star_icon-first path,
  .listen-customer .star_icon-second path {
    stroke: #fff;
  }
  .listen-customer .listen-customer__bg {
    display: none;
  }
}
